// Bootstrap Overrides
$enable-rounded: true;
$blue: #36c;
$light: #f8f9fa;
$secondary:$light;

// Import Bootstrap and BootstrapVue source SCSS files
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

.btn-primary {
  font-weight: 700;
  font-size: 1.125rem;
}

.btn-light {
  border: 1px solid #a2a9b1;
  &:hover {
    background-color: $white;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #202122;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
}

p {
  font-size: 0.875rem;
}
